.busca{
  background-color:#E6E6E6;
  width: 25rem;
  height: 2rem;
  grid-area: buscacontainer;
  margin-top: -152.5rem;
  text-align: center;
  margin-left: 108rem;
  color: #4F4F4F;
  font-family:Verdana;
  font-size: 1.2rem
}